{#
Copyright (C) 2025 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:base.html.twig" %}

{% block title %}
  {{  article.title }}
{% endblock %}

{% block main %}

  <article class="article">
    <div class="article__cover-column">
      {% if article.model|hasImage %}
        {% include "AppBundle:Article:_cover.html.twig" with {
          article: articleModel,
          class: "article__cover-image",
          rel: "lightbox"
        } %}
      {% endif %}
    </div>

    <div class="article__infos-column">

      {% if article.has('cycle') %}
        <p class="article__cycle">
          <a href="{{ path('cycle_show', { slug: article.cycle.url }) }}">
            {{ article.cycle.name }}
          </a>
          {% if article.has('tome') %}
            -
            {{ article.tome }}
          {% endif %}
        </p>
      {% endif %}

      <h1 class="article__title">{{ article.title }}</h1>

      <div class="article__authors-and-contributors">
        <p class="article__authors">
          <span class="article__by">de</span>
          {% for author in article.getAuthors() %}
            <a href="{{ path('people_show', { slug: author.url }) }}">
              {{ author.name }}</a>{% if not loop.last %},
            {% endif %}
          {% endfor %}
        </p>

        <p class="article__contributors">
          {% if article.hasOtherContributors() %}
            et
            {% for people in article.getOtherContributors %}
              <a href="{{ path('people_show', { slug: people.url }) }}">{{ people.name }}</a>
                ({{ people.role}})
                {% if not loop.last %},
              {% endif %}
            {% endfor %}
          {% endif %}
        </p>
      </div>

      {% if article.getCheapestAvailableItem('new') %}
        <p>
          <span class="fa fa-square led-green"></span>
          {% if article.has('price') %}
            {{ article.price|currency(true)|raw }}
          {% endif %}
          {% include "AppBundle:Article:_cartButton.html.twig" %}
        </p>
      {% endif %}

      {% if article.has('ean') %}
        <p>
          EAN : {{ article.ean }}<br>
          ISBN : {{ article.isbn }}
        </p>
      {% endif %}

      {% if article.has('summary') %}
        <div class="article-summary">
          {{ article.summary|raw }}
        </div>
      {% endif %}
    </div>

    {% set usedItems = article.getAvailableItems('used') %}
    {% if usedItems %}
      <div class="article__used-copy-list" id="occasion">
        <h2>Exemplaires d'occasion</h2>
        <div class="article__used-copies">
          {% for usedItem in usedItems %}
            <div class="article__used-copy">
              {% if usedItem.hasPhoto %}
                {{ usedItem.photoTag({ class: 'article__used-copy__photo' })|raw }}
              {% endif %}
              <p>
                <span class="fa fa-square led-orange"></span>
                État: {{ usedItem.condition }}
              </p>
              <p>
                {{ usedItem.selling_price|currency(true)|raw }}
                {% include "AppBundle:Article:_cartButton.html.twig" with { "text": "Ajouter" } %}
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if similarArticles %}
      <div class="article__similar-articles">
        <h2>Articles similaires</h2>
        <div class="article__similar-articles__list">
          {% for similarArticle in similarArticles %}
            <div class="article__similar-articles__item">
              {% include "AppBundle:Article:_cover.html.twig" with {
                article: similarArticle,
                link: path("article_show", { slug: similarArticle.url }),
                class: "article__similar-articles__cover"
              } %}
              {% if article.has('price') %}
                <div class="article__similar-articles__actions">
                  {{ similarArticle.price|currency(true)|raw }}
                  {% include "AppBundle:Article:_cartButton.html.twig" with { text: "Acheter" } %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <div class="article__feature-list">
      <h2>Caractéristiques</h2>
      <dl class="article__features">
        {% if article.has('pubdate') %}
          <dt>Date de parution</dt>
          <dl>{{ article.pubdate|date }}</dl>
        {% endif %}

        {% if article.has('price') %}
          <dt>Prix éditeur</dt>
          <dl>{{ article.price|currency(true)|raw }}</dl>
        {% endif %}

        {% if article.has('publisher') %}
          <dt>Éditeur</dt>
          <dl>
            <a href="{{ path('publisher_show', { slug: article.publisher.url }) }}">
              {{ article.publisher.name }}
            </a>
          </dl>
        {% endif %}

        {% if article.has('collection') %}
          <dt>Collection</dt>
          <dl>
            <a href="{{ path('collection_show', { slug: article.collection.url }) }}">
              {{ article.collection.name }}
            </a>
            {% if article.has('number') %} n° {{ article.number }} {% endif %}
          </dl>
        {% endif %}

        {% if article.has('cycle') %}
          <dt>Cycle</dt>
          <dl>
            <a href="{{ path('cycle_show', { slug: article.cycle.url }) }}">
              {{ article.cycle.name }}
            </a>
            {% if article.has('tome') %} - {{ article.tome }} {% endif %}
          </dl>
        {% endif %}

        {% if article.has('ean') %}
          <dt>EAN</dt>
          <dl>{{ article.ean }}</dl>
        {% endif %}

        {% if article.has('isbn') %}
          <dt>ISBN</dt>
          <dl>{{ article.isbn }}</dl>
        {% endif %}

        {% if article.has('shaping') %}
          <dt>Façonnage</dt>
          <dl>{{ article.shaping }}</dl>
        {% endif %}

        {% if article.has('printing_process') %}
          <dt>Procédé d'impression</dt>
          <dl>{{ article.printing_process }}</dl>
        {% endif %}

        {% if article.has('format') %}
          <dt>Dimensions</dt>
          <dl>{{ article.format }} format</dl>
        {% endif %}

        {% if article.has('pages') %}
          <dt>Nombre de pages</dt>
          <dl>{{ article.pages }} pages</dl>
        {% endif %}

        {% if article.has('weight') %}
          <dt>Poids</dt>
          <dl>{{ article.weight }} g</dl>
        {% endif %}
      </dl>
    </div>
  </article>

  {% if app.currentUser.isAdmin %}
    <div class="admin">
      <p>Article n° {{ article.id }}</p>
      <p><a href="/pages/article_edit?id={{ article.id }}">modifier</a></p>
      <p><a href="/pages/adm_stocks?article_id={{ article.id }}">stock</a></p>
      <p><a href="/pages/adm_stock?add={{ article.id }}">ajouter</a></p>
    </div>
  {% endif %}
{% endblock %}
