<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% set titleBlock = block("title") %}
      {% if titleBlock is not empty %}
        {% block title %}{% endblock %} |
      {% endif %}
      {{ app.site.title }}
    </title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    {# biblys assets #}
    {% include "layout:_assets_css.html.twig" %}

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/theme/styles.css?{{ app.site.getOpt('assets_version') }}">
  </head>
  <body>
    <header class="site-header">
      <a href="/">
        <img src="/theme/logo.png" alt="Logo de {{ app.site.title }}" class="site-logo">
      </a>
      <div class="header-bar">
        <div class="social-networks">
          <a class="social-button" href="https://www.facebook.com/biblys" target="_blank" rel="noreferrer noopener">
            <span aria-label="Facebook" class="fa fa-facebook-square"></span>
          </a>

          <a class="social-button" href="https://twitter.com/biblys" target="_blank" rel="noreferrer noopener">
            <span aria-label="Twitter" class="fa fa-twitter-square"></span>
          </a>

          <a class="social-button" href="https://www.instagram.com/jiffpom/" target="_blank" rel="noreferrer noopener">
            <span aria-label="Instagram" class="fa fa-instagram"></span>
          </a>
        </div>

        <div class="cart-button">
          {{ cart_status()|raw }}
        </div>

        <form action="/articles/search" class="search-engine">
          <input
              type="text"
              name="q"
              placeholder="Rechercher un article…"
              aria-label="Rechercher un article"
              class="search-engine-input"
              required="required"
          />
          <button aria-label="Rechercher" type="submit" class="search-engine-button">
            <span class="fa fa-search"></span>
          </button>
        </form>
      </div>

      <ul role="navigation" class="site-navigation">
        <li class="navigation-item">
          <a class="navigation-item-link" href="/">Accueil</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-item-link" href="/blog/">Blog</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-item-link" href="/rayon/coups-de-coeur">Coups de coeur</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-item-link" href="/pages/a-propos">À propos</a>
        </li>
        <li class="navigation-item">
          <a class="navigation-item-link" href="/contact/">Contact</a>
        </li>
      </ul>
    </header>
    <main class="site-main">
      {% block main %}{% endblock %}
    </main>
    <footer class="site-footer">
      <div class="footer-block footer-links">
        <ul>
          <li><a href="/pages/a-propos">À propos</a></li>
          <li><a href="/pages/mentions-legales">Mentions légales</a></li>
          <li><a href="/pages/conditions-generales-de-vente">Conditions générales de vente</a></li>
        </ul>
      </div>

      <div class="footer-block footer-biblys-logo">
        <a href="https://www.biblys.fr/" target="_blank" rel="noreferrer noopener">
          <img src="/assets/images/propulse-par-biblys.png" alt="Propulsé par Biblys" class="biblys-logo">
        </a>
      </div>

      <div class="footer-block footer-newsletter">
        <p>Recevoir notre newsletter :</p>
        <form class="center" method="post" action="/mailing/subscribe">
          <fieldset>
            <input type="email" name="email" placeholder="Votre adresse e-mail" class="form-control">
            <input class="btn btn-info btn-sm btn-block" type="submit" value="S'abonner">
          </fieldset>
        </form>
      </div>
    </footer>
    {{ app.axysMenu|raw }}
    {% include "layout:_assets_js.html.twig" %}
  </body>
</html>

