<!DOCTYPE html>
{#
Copyright (C) 2025 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% set titleBlock = block("title") %}
    {% if titleBlock is not empty %}
      {% block title %}{% endblock %} |
    {% endif %}
    {{ app.currentSite.site.title }}
  </title>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  {# biblys assets #}
  {% include "layout:_assets_css.html.twig" %}

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="/theme/styles.css?{{ app.currentSite.getOption('assets_version') }}">

  <link rel="alternate" type="application/rss+xml" title="Les derniers billets du blog" href="{{ path('feed_blog') }}">
  <link rel="alternate" type="application/rss+xml" title="Les dernières parutions du catalogue" href="{{ path('feed_catalog') }}">

  {% include "layout:_analytics.html.twig" %}
</head>
<body>
{% include "layout:_overall_menu.html.twig" %}

<div class="container-lg">
  <header class="mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">{{ app.currentSite.site.title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/">Actualité</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Catalogue
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Littérature blanche</a>
              <a class="dropdown-item" href="#">Littératures de l’imaginaire</a>
              <a class="dropdown-item" href="#">Littératures jeunesse</a>
              <a class="dropdown-item" href="#">Essais</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">À propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="site-main">
    {% include "layout:_flash_messages.html.twig" %}

    {% block main %}{% endblock %}
  </main>
  <footer class="site-footer mt-4 d-md-flex justify-content-between">
    <div class="footer-block footer-links mb-4">
      <div class="text-center text-md-left mb-2">
        <a href="{{ path('feed_index') }}" target="_blank">
          <span aria-label="Flux RSS" class="fa-solid fa-rss-square fa-2x"></span>
        </a>
      </div>

      <ul class="text-center text-md-left">
        <li><a href="/page/a-propos">À propos</a></li>
        <li><a href="/page/mentions-legales">Mentions légales</a></li>
        <li><a href="/page/conditions-generales-de-vente">Conditions générales de vente</a></li>
      </ul>
    </div>
    <div class="footer-block footer-newsletter">
      <p>Recevoir notre newsletter :</p>
      <form class="center" method="post" action="/mailing/subscribe">
        <fieldset>
          <input type="email" name="email" placeholder="Votre adresse e-mail" class="form-control"
                 aria-label="Votre adresse e-mail">
          <input class="btn btn-info btn-sm btn-block" type="submit" value="S’abonner">
        </fieldset>
      </form>
    </div>
  </footer>

  <p class="powered-by text-center my-5">
    propulsé par <a href="https://biblys.org">biblys</a> · logiciel libre
  </p>
</div>
{% include "layout:_assets_js.html.twig" %}
</body>
</html>

